body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-div {
  background-color: blanchedalmond;
  width:200px;
  padding:20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.form-label {
  color: rgb(141, 101, 48);
}

.form-input {
  border: 0;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
  width: 80%;
}

.form-button {
  border: 0;
  transition: 0.3s;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
}

.form-button:hover {
  background-color: grey;
}

.convo-card {
  background-color: rgb(183, 183, 183);
  padding-left: 15px;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
  margin-left: 15px;
  border-radius: 5px;
}

.convo-card:hover {
  cursor: pointer;
  transform: scale(1.02);
}